platform=`uname`

# Tilde
alias tilde="cd ~/Workspaces/tilde"

# Console
alias vi=vim
alias mux=tmuxinator
alias svim=/usr/bin/vim
alias profile="vi ~/.bash_profile"
alias mkpath="mkdir -p"
alias cls=clear

if [[ "$platform" == 'Darwin' ]]; then
  alias updatedb="sudo /usr/libexec/locate.updatedb"
  alias flushdns="dscacheutil -flushcache"
  alias ls="ls -p -h -G"

  # PostgreSQL
  alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
  alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"

  # Desktop Programs
  alias fireworks="open -a '/Applications/Adobe Fireworks CS6/Adobe Fireworks CS6.app'"
  alias photoshop="open -a '/Applications/Adobe Photoshop CC/Adobe Photoshop CC.app'"
  alias illustrator="open -a '/Applications/Adobe Illustrator CC/Adobe Illustrator CC.app'"
  alias preview="open -a '/Applications/Preview.app'"
  alias xcode="open -a '/Developer/Applications/Xcode.app'"
  alias coda="open -a '/Applications/Coda.app'"
  alias ios-simulator="open -a '/Applications/Xcode.app/Contents/Applications/iPhone Simulator.app'" 

  # Git
  alias git=hub
  alias add="git add"
  alias ci="git commit"
  alias commit="git commit"
  alias st="git status"
  alias status="git status"
  alias push="git push"
  alias pull="git pull"
  alias up="git pull"

# Ruby
  alias stdlib="vi /System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/"
  alias gems="vi /System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/"
else
  alias ls="ls -p -h --color"
fi

# Git
alias changelog="git log --no-merges --date=short --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd)%Creset'"

# Tmux
alias tmux="TERM=xterm-256color tmux"

# WGET
alias wget="curl -O"

# Bundler
alias be="bundle exec"

# Work log
alias lw="logwork"
