# Console
alias profile="vi ~/.bash_profile"
alias ls="ls -p -G -h"
alias mkpath="mkdir -p"
alias ss="script/server"
alias flushdns="dscacheutil -flushcache"

# PostgreSQL
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"

# Desktop Programs
alias fireworks="open -a '/Applications/Adobe Fireworks CS6/Adobe Fireworks CS6.app'"
alias photoshop="open -a '/Applications/Adobe Photoshop CC/Adobe Photoshop CC.app'"
alias illustrator="open -a '/Applications/Adobe Illustrator CC/Adobe Illustrator CC.app'"
alias preview="open -a '/Applications/Preview.app'"
alias xcode="open -a '/Developer/Applications/Xcode.app'"
alias coda="open -a '/Applications/Coda.app'"
alias tm="mate"
alias ios-simulator="open -a '/Applications/Xcode.app/Contents/Applications/iPhone Simulator.app'" 

# Ruby
alias stdlib="mate /System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/"
alias gems="mate /System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/gems/1.8/gems/"

# Git
alias gsm="git submodule init && git submodule update"
alias git=hub
alias changelog="git log --no-merges --date=short --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd)%Creset'"

# SSH
alias sshrecursive1="ssh -p 42832 173.45.235.36"

# WGET
alias wget="curl -O"

# Bundler
alias b="bundle"
alias bi="b install --path vendor"
alias bu="b update"
alias be="b exec"
alias binit="bi && b package && echo 'vendor/ruby' >> .gitignore"
