[user]
	name = John W. Long
	email = me@johnwlong.com
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
	aa = !git add -u && git add . && git status
	st = status
	br = branch
	ci = commit
	cia = commit -a
	co = checkout
	df = diff
	lg = log
	up = pull
[merge]
	summary = true
	tool = opendiff
[core]
  editor = vim --nofork
	legacyheaders = false
	excludesfile = /Users/jlong/.gitignore
[repack]
	usedeltabaseoffset = true
[apply]
	whitespace = nowarn
[github]
	user = jlong
[svn]
	authorsfile = /Users/jlong/.gitusers
[push]
	default = tracking
